<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A5 Componente</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>Acceso</li>
        <li>Registro</li>
        <li>Curso</li>
        <li>Profesor</li>
        <li>Contacto</li>
      </ul>
    </nav>
  </header>
  <app-acceso></app-acceso>
  <app-cursos></app-cursos>
  <app-curso></app-curso>
  <app-profesor></app-profesor>
  <app-profesores></app-profesores>
  <app-registro></app-registro>
  <app-alumno></app-alumno>
  <app-alumnos></app-alumnos>
  <app-consulta></app-consulta>
  <footer>
    <p>Info legal</p>
  </footer>
</body>
</html>