<div class="servicios">
    <div class="servicio" *ngFor="let servis of listaServicios">
        <h3>Código: {{servis.codSer}}</h3>
        <h2>Nombre: <br>{{servis.nombreSer}}</h2>
        <p>Descripción: {{servis.descripcionSer}}</p>
        <h4>Precio: {{servis.PrecioSer | currency: 'EUR' }} </h4>
        <img src="{{servis.imagenSer}}" alt="Imagen del servicio">
        <h4 *ngIf="servis.stockSer">Estado: {{mensaje}}</h4>
        <button (click)="addContrato()">Contratar</button>
    </div>

</div>
<div class="avisos">
    <h2 *ngIf="Pedidos">¡¡Pedido Realizado!!</h2>
</div>


