<div class="main-form">
    <h2>Contacto</h2>
    <p>Para cualquier duda o consulta, por favor llene estos campos</p>
    <form action="">
        <i>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre"></i>
       <i> <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email"></i>
        <i><label for="asunto" id="asunto" name="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto" placeholder="Asunto"></i>
        <i><label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea></i>
        <i class="end"> <label for=""></label><button type="submit">Enviar</button></i>
    </form>
</div>