<section class="dividelo">
    <div class="info-usu">
        <img src="" alt="">
        <h2>Datos</h2>
    </div>
    <div class="contenedor-main">
        <h2>Cursos</h2>
        <div class="contenedor">
        <div class="ejem">img</div>
        <div class="ejem">img</div>
        <div class="ejem">img</div>
    </div>
    <h2>Tareas</h2>
    <div class="revisar">
        <i>Por revisar</i><i>
            Revisado
        </i><i>
            Nota
        </i><i>
            Eje
        </i><i>
            eje
        </i><i>
            eje
        </i><i>
            eje
        </i><i>
            eje
        </i><i>
            eje
        </i>
    </div>
    </div>
    </section>