<section class="dividelo">
<div class="info-usu">
    <img src="" alt="">
    <h2>Datos</h2>
</div>
<div class="contenedorformulario">
<form action="">
    <i>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="nombre">
    </i>
    <i>
        <label for="apellido">apellido</label>
        <input type="text" name="apellido" id="apellido" placeholder="apellido">
    </i><i>
        <label for="nacimiento">Fecha de nacimiento</label>
        <input type="date" name="nacimiento" id="nacimiento" placeholder="nacimiento">
    </i><i>
        <label for="email">email</label>
        <input type="email" name="email" id="email" placeholder="email">
    </i><i>
        <label for="telefono">Teléfono</label>
        <input type="tel" name="telefono" id="telefono" placeholder="telefono">
    </i><i>
        <label for="imagen">imagen</label>
        <input type="button" (click)="openDialog()" name="imagen" id="imagen" value="imagen">
    </i><i>
        <label for="aop">Profesor o alumno</label>
        <input type="radio" name="aop" id="aop" value="aop" checked>
    </i><i>
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass" placeholder="contraseña">
    </i>
    <input class="end" type="submit">
</form>
</div>
</section>