
<div class="b-example-divider"></div>

<div *ngIf="!loading" class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-4 py-5" >
    
    <div class="col-md-10 mx-auto col-lg-5">
      <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" [(ngModel)]="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" [(ngModel)]="confirmPassword" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button class="w-100 btn btn-lg btn" type="submit" (click)="addUser()">Sign up</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use. <a routerLink="/login">Editar</a>
        </small>
      </div>
     
    </div>

    <div class="col-lg-7 text-center text-lg-start" id="contenido">
        <h1 class="display-4 fw-bold lh-3 text-body-emphasis mb-3">Registro para nuevos usuarios</h1>
        <p class="col-lg-10 fs-4">Cuando estes dentro podras editar tu perfil hasta el minimo detalle para llamar la antecion aun mas :D</p>
      </div>
  </div>
</div>


<div class="b-example-divider"></div>

<!-- <div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/media/img/login.png" alt="img login">
        <h3>Registrar Usuario</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="email" class="form-control" placeholder="Ingrese usuario">
            <label>Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese password">
            <label>Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese password de nuevo">
            <label>Repetir Password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">Aceptar</button>
        </div>
        <a routerLink="/login">Volver</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div> -->