<div class="main-card">
<h1>Esto es la Practica E-2 </h1>
<div class="card">
<p>1.- El alumno de forma individual deberá realizar:</p>
    <ul>
    <li>Un componente utilizando el framework angular y visual studio code como IDE para la que un
    usuario registrado pueda adjuntar un archivo-imagen para completar su perfil.</li>
    <li>Hay que tener en cuenta la estructura creada en la prueba evaluable E1.</li>
    <li>Tiene que contener un formulario para la inserción de datos.</li>
    </ul>
    
   <p> Adjuntar los códigos creados a este archivo y convertir este documento en pdf. Enviar o Subir a Github.
    La práctica se realizará de manera individual.</p>
</div>
</div>