header{
    border-radius: 3.5em;
    padding: 1.2em;
    background-color: rgba(88, 88, 180, 0.979);
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
li{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 7em;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: brown;
}
section{
    display: flex;
    margin: 1em;
    gap: 5em;
}
.comotal{
    margin-top: 3em;
    width: 30%;
    /* position: absolute; */
}
.contenido{
    /* position: ; */
    width: 70%;
}
header img:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 1.5s;
}
li:hover{
    color: aliceblue;
    cursor: pointer;
}
body{
    background-color: rgba(172, 157, 157, 0.589);
    font-family: 'Cascadia Code';
}
.darkmode{
    background-color: black;
    color: white;
}
