<div class="contendor-grid">
    <h2>Crea tu curso</h2>
<form class="form-grid" action="">
    <label for="nombre">Nombre del Curso</label>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
    <label for="categoria">Categoría</label>
    <input type="text" name="categoria" id="categoria" placeholder="Categoría">
    <label for="duracion">duración</label>
    <input type="text" name="duracion" id="duracion" placeholder="duración">
    <label for="descri">Descripción</label>
    <input type="text" name="descri" id="descri" placeholder="Descripción">
    <label for="temas">Temas</label>
    <input type="text" name="temas" id="temas" placeholder="Temas">
    <input type="submit" value="Grabar">
</form>
</div>