header section{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1em;
    margin-right: 1em;
}
footer{
    /* height: 10%; */
    bottom: 0;
    position: absolute;
}
body{
    height: 100vh;
} 
section{
    border: 3px black solid;
}
.main-contenedor{
    height: 84%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: aquamarine;
}
.right-box{
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
}